# String Based Assignment Problem

#### 1. Write a program to reverse a string.

In [1]:
def reverse_string(s):
    return s[::-1]

input_string = "Hello, World!"
reversed_string = reverse_string(input_string)
print(reversed_string)

!dlroW ,olleH

#### 2. Check if a string is a palindrome.

In [2]:
def is_palindrome(s):
    return s == s[::-1]

input_string = "radar"
if is_palindrome(input_string):
    print("Palindrome")
else:
    print("Not a palindrome")

Palindrome

#### 3. Convert a string to uppercase.

In [3]:
input_string = "Hello, World!"
uppercase_string = input_string.upper()
print(uppercase_string)

HELLO, WORLD!

#### 4. Convert a string to lowercase.

In [4]:
input_string = "Hello, World!"
lowercase_string = input_string.lower()
print(lowercase_string)

hello, world!

#### 5. Count the number of vowels in a string.

In [5]:
def count_vowels(s):
    vowels = "aeiouAEIOU"
    count = 0
    for char in s:
        if char in vowels:
            count += 1
    return count

input_string = "Hello, World!"
vowel_count = count_vowels(input_string)
print("Number of vowels:", vowel_count)

Number of vowels: 3

#### 6. Count the number of consonants in a string.

In [6]:
def count_consonants(s):
    consonants = "bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ"
    count = 0
    for char in s:
        if char in consonants:
            count += 1
    return count

input_string = "Hello, World!"
consonant_count = count_consonants(input_string)
print("Number of consonants:", consonant_count)

Number of consonants: 7

#### 7. Remove all whitespaces from a string.

In [7]:
input_string = "Hello, World!"
no_whitespace_string = input_string.replace(" ", "")
print(no_whitespace_string)

Hello,World!

#### 8. Find the length of a string without using the `len()` function.

In [8]:
def custom_len(s):
    count = 0
    for char in s:
        count += 1
    return count

input_string = "Hello, World!"
length = custom_len(input_string)
print("Length:", length)

Length: 13

#### 9. Check if a string contains a specific word.

In [9]:
def contains_word(s, word):
    return word in s

input_string = "Hello, World!"
search_word = "World"
if contains_word(input_string, search_word):
    print("String contains the word")
else:
    print("String does not contain the word")

String contains the word

#### 10. Replace a word in a string with another word.

In [10]:
def replace_word(s, old_word, new_word):
    return s.replace(old_word, new_word)

input_string = "Hello, World!"
new_string = replace_word(input_string, "World", "Universe")
print(new_string)

Hello, Universe!

#### 11. Count the occurrences of a word in a string.

In [11]:
def count_word_occurrences(s, word):
    words = s.split()
    count = words.count(word)
    return count

input_string = "Hello, Hello, World!"
word_to_count = "Hello"
occurrence_count = count_word_occurrences(input_string, word_to_count)
print("Occurrences:", occurrence_count)

Occurrences: 0

#### 12. Find the first occurrence of a word in a string.

In [12]:
def first_occurrence(s, word):
    return s.find(word)

input_string = "Hello, Hello, World!"
word_to_find = "Hello"
first_index = first_occurrence(input_string, word_to_find)
print("First occurrence index:", first_index)

First occurrence index: 0

#### 13. Find the last occurrence of a word in a string.

In [13]:
def last_occurrence(s, word):
    return s.rfind(word)

input_string = "Hello, Hello, World!"
word_to_find = "Hello"
last_index = last_occurrence(input_string, word_to_find)
print("Last occurrence index:", last_index)

Last occurrence index: 7

#### 14. Split a string into a list of words.

In [14]:
input_string = "Hello, World!"
word_list = input_string.split()
print(word_list)

['Hello,', 'World!']

#### 15. Join a list of words into a string.

In [15]:
word_list = ["Hello,", "World!"]
joined_string = " ".join(word_list)
print(joined_string)

Hello, World!

#### 16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [16]:
original_string = "hello world this is a test"
converted_string = original_string.replace(" ", "_")
print(converted_string)

hello_world_this_is_a_test

#### 17. Check if a string starts with a specific word or phrase.

In [17]:
string = "Hello, how are you?"
specific_word = "Hello"
if string.startswith(specific_word):
    print("String starts with the specific word.")
else:
    print("String does not start with the specific word.")

String starts with the specific word.

#### 18. Check if a string ends with a specific word or phrase.

In [18]:
string = "This is the end"
specific_word = "end"
if string.endswith(specific_word):
    print("String ends with the specific word.")
else:
    print("String does not end with the specific word.")

String ends with the specific word.

#### 19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [19]:
string = "hello world"
title_case_string = string.title()
print(title_case_string)

Hello World

#### 20. Find the longest word in a string.

In [20]:
string = "This is a test sentence to find the longest word"
words = string.split()
longest_word = max(words, key=len)
print(longest_word)

sentence

#### 21. Find the shortest word in a string.

In [21]:
string = "This is a test sentence to find the shortest word"
words = string.split()
shortest_word = min(words, key=len)
print(shortest_word)

a

#### 22. Reverse the order of words in a string.

In [22]:
string = "This is a reversed sentence"
reversed_string = ' '.join(reversed(string.split()))
print(reversed_string)

sentence reversed a is This

#### 23. Check if a string is alphanumeric.

In [23]:
string = "abc123"
if string.isalnum():
    print("String is alphanumeric.")
else:
    print("String is not alphanumeric.")

String is alphanumeric.

#### 24. Extract all digits from a string.

In [24]:
import re
string = "a1b2c3"
digits = re.findall(r'\d', string)
print(digits)

['1', '2', '3']

#### 25. Extract all alphabets from a string.

In [25]:
import re
string = "a1b2c3"
alphabets = re.findall(r'[a-zA-Z]', string)
print(alphabets)

['a', 'b', 'c']

#### 26. Count the number of uppercase letters in a string.

In [26]:
string = "Hello World"
uppercase_count = sum(1 for char in string if char.isupper())
print(uppercase_count)

2

#### 27. Count the number of lowercase letters in a string.

In [27]:
string = "Hello World"
lowercase_count = sum(1 for char in string if char.islower())
print(lowercase_count)

8

#### 28. Swap the case of each character in a string.

In [28]:
string = "Hello World"
swapped_case_string = string.swapcase()
print(swapped_case_string)

hELLO wORLD

#### 29. Remove a specific word from a string.

In [29]:
string = "This is a test string"
word_to_remove = "test"
new_string = string.replace(word_to_remove, "")
print(new_string)

This is a  string

#### 30. Check if a string is a valid email address.

In [30]:
import re
email = "example@example.com"
if re.match(r'^[\w\.-]+@[\w\.-]+$', email):
    print("Valid email address.")
else:
    print("Invalid email address.")

Valid email address.

#### 31. Extract the username from an email address string.

In [31]:
email = "username@example.com"
username = email.split('@')[0]
print(username)

username

#### 32. Extract the domain name from an email address string.

In [32]:
email = "username@example.com"
domain = email.split('@')[1]
print(domain)

example.com

#### 33. Replace multiple spaces in a string with a single space.

In [33]:
string_with_multiple_spaces = "Hello     world!   How    are you?"
single_space_string = ' '.join(string_with_multiple_spaces.split())
print(single_space_string)

Hello world! How are you?

#### 34. Check if a string is a valid URL.33. Replace multiple spaces in a string with a single space.

In [34]:
import re

def is_valid_url(url):
    pattern = re.compile(r'^https?://(?:www\.)?\w+\.\w+$')
    return bool(pattern.match(url))

url = "https://www.example.com"
print(is_valid_url(url))

True

#### 35. Extract the protocol (http or https) from a URL string.

In [35]:
url = "https://www.example.com"
protocol = url.split(':')[0]
print(protocol)

https

#### 36. Find the frequency of each character in a string.

In [36]:
from collections import Counter

string = "hello world"
character_frequency = Counter(string)
print(character_frequency)

Counter({'l': 3, 'o': 2, 'h': 1, 'e': 1, ' ': 1, 'w': 1, 'r': 1, 'd': 1})

#### 37. Remove all punctuation from a string.

In [37]:
import string

string_with_punctuation = "Hello, world!"
string_without_punctuation = string_with_punctuation.translate(str.maketrans('', '', string.punctuation))
print(string_without_punctuation)

Hello world

#### 38. Check if a string contains only digits.

In [38]:
def contains_only_digits(s):
    return s.isdigit()

string = "12345"
print(contains_only_digits(string))

True

#### 39. Check if a string contains only alphabets.

In [39]:
def contains_only_alphabets(s):
    return s.isalpha()

string = "Hello"
print(contains_only_alphabets(string))

True

#### 40. Convert a string to a list of characters.

In [40]:
string = "hello"
characters_list = list(string)
print(characters_list)

['h', 'e', 'l', 'l', 'o']

#### 41. Check if two strings are anagrams.

In [41]:
def are_anagrams(str1, str2):
    return sorted(str1) == sorted(str2)

string1 = "listen"
string2 = "silent"
print(are_anagrams(string1, string2))

True

#### 42. Encode a string using a Caesar cipher.

In [42]:
def caesar_cipher_encode(text, shift):
    encoded = ""
    for char in text:
        if char.isalpha():
            ascii_offset = ord('a') if char.islower() else ord('A')
            encoded_char = chr((ord(char) - ascii_offset + shift) % 26 + ascii_offset)
            encoded += encoded_char
        else:
            encoded += char
    return encoded

plaintext = "hello"
shift = 3
encoded_text = caesar_cipher_encode(plaintext, shift)
print(encoded_text)

khoor

#### 43. Decode a Caesar cipher encoded string.

In [43]:
def caesar_cipher_decode(encoded_text, shift):
    return caesar_cipher_encode(encoded_text, -shift)

encoded_text = "khoor"
decoded_text = caesar_cipher_decode(encoded_text, shift)
print(decoded_text)

hello

#### 44. Find the most frequent word in a string.

In [44]:
from collections import Counter
import re

def most_frequent_word(text):
    words = re.findall(r'\w+', text.lower())
    word_count = Counter(words)
    return word_count.most_common(1)[0][0]

text = "hello world hello"
print(most_frequent_word(text))

hello

#### 45. Find all unique words in a string.

In [45]:
import re

def unique_words(text):
    words = re.findall(r'\w+', text.lower())
    return set(words)

text = "hello world hello"
print(unique_words(text))

{'world', 'hello'}

#### 46. Count the number of syllables in a string.

In [46]:
def count_syllables(word):
    vowels = "aeiouAEIOU"
    count = 0
    prev_char_vowel = False

    for char in word:
        if char in vowels:
            if not prev_char_vowel:
                count += 1
            prev_char_vowel = True
        else:
            prev_char_vowel = False

    if word.endswith("e"):
        count -= 1
    
    return max(count, 1)

word = "hello"
syllable_count = count_syllables(word)
print(syllable_count)

2

#### 47. Check if a string contains any special characters.

In [47]:
import re

def contains_special_characters(s):
    pattern = re.compile(r'[^a-zA-Z0-9\s]')
    return bool(pattern.search(s))

string = "Hello, world!"
print(contains_special_characters(string))

True

#### 48. Remove the nth word from a string.

In [48]:
def remove_nth_word(s, n):
    words = s.split()
    if n >= 1 and n <= len(words):
        words.pop(n - 1)
    return ' '.join(words)

string = "Hello world, how are you?"
n = 2
new_string = remove_nth_word(string, n)
print(new_string)

Hello how are you?

#### 49. Insert a word at the nth position in a string.

In [49]:
def insert_word_at_nth_position(s, word, n):
    words = s.split()
    words.insert(n - 1, word)
    return ' '.join(words)

string = "Hello, how you?"
new_word = "are"
n = 3
new_string = insert_word_at_nth_position(string, new_word, n)
print(new_string)

Hello, how are you?

#### 50. Convert a CSV string to a list of lists.

In [50]:
def csv_to_list_of_lists(csv_string):
    lines = csv_string.strip().split('\n')
    result = [line.split(',') for line in lines]
    return result

csv_string = "1,John,Doe\n2,Jane,Smith\n3,Bob,Johnson"
csv_list = csv_to_list_of_lists(csv_string)
print(csv_list)

[['1', 'John', 'Doe'], ['2', 'Jane', 'Smith'], ['3', 'Bob', 'Johnson']]

# List Based Practice Problem :

#### 1. Create a list with integers from 1 to 10.

In [51]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### 2. Find the length of a list without using the `len()` function.

In [52]:
def custom_len(lst):
    count = 0
    for _ in lst:
        count += 1
    return count

length = custom_len(numbers)
(length)

10

#### 3. Append an element to the end of a list

In [53]:
numbers.append(11)
(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

#### 4. Insert an element at a specific index in a list.

In [54]:
numbers.insert(2, 15)  
(numbers)

[1, 2, 15, 3, 4, 5, 6, 7, 8, 9, 10, 11]

#### 5. Remove an element from a list by its value.

In [55]:
numbers.remove(5) 
(numbers)

[1, 2, 15, 3, 4, 6, 7, 8, 9, 10, 11]

#### 6. Remove an element from a list by its index.

In [56]:
del numbers[3]  
(numbers)

[1, 2, 15, 4, 6, 7, 8, 9, 10, 11]

#### 7. Check if an element exists in a list.

In [57]:
if 7 in numbers:
    print("7 exists in the list")

7 exists in the list

#### 8. Find the index of the first occurrence of an element in a list.

In [58]:
index = numbers.index(8)  
(index)

6

#### 9. Count the occurrences of an element in a list.

In [59]:
count_9 = numbers.count(9) 
(count_9)

1

#### 10. Reverse the order of elements in a list.

In [60]:
numbers.reverse()  
(numbers)

[11, 10, 9, 8, 7, 6, 4, 15, 2, 1]

#### 11. Sort a list in ascending order.

In [61]:
numbers.sort()
(numbers)

[1, 2, 4, 6, 7, 8, 9, 10, 11, 15]

#### 12. Sort a list in descending order.

In [62]:
numbers.sort(reverse=True) 
(numbers)

[15, 11, 10, 9, 8, 7, 6, 4, 2, 1]

#### 13. Create a list of even numbers from 1 to 20.

In [63]:
evens = [num for num in range(2, 21, 2)]
evens

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

#### 14. Create a list of odd numbers from 1 to 20.

In [64]:
odds = [num for num in range(1, 21, 2)]
odds

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

#### 15. Find the sum of all elements in a list.

In [65]:
total_sum = sum(numbers)
total_sum

73

#### 16. Find the maximum value in a list.

In [66]:
max_value = max(numbers)
max_value

15

#### 17. Find the minimum value in a list.

In [67]:
min_value = min(numbers)
min_value

1

#### 18. Create a list of squares of numbers from 1 to 10.

In [68]:
squares = [num ** 2 for num in numbers]
squares

[225, 121, 100, 81, 64, 49, 36, 16, 4, 1]

#### 19. Create a list of random numbers.

In [69]:
import random
random_list = [random.randint(1, 100) for _ in range(10)]
random_list

[72, 88, 77, 53, 76, 80, 47, 12, 100, 35]

#### 20. Remove duplicates from a list.

In [70]:
unique_numbers = list(set(numbers))
unique_numbers

[1, 2, 4, 6, 7, 8, 9, 10, 11, 15]

#### 21. Find the common elements between two lists.

In [71]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
common_elements = [num for num in list1 if num in list2]
common_elements

[3, 4, 5]

#### 22. Find the difference between two lists.

In [72]:
difference = [num for num in list1 if num not in list2]
difference

[1, 2]

#### 23. Merge two lists.

In [73]:
 merged_list = list1 + list2
merged_list

[1, 2, 3, 4, 5, 3, 4, 5, 6, 7]

#### 24. Multiply all elements in a list by 2.

In [74]:
doubled_numbers = [num * 2 for num in numbers]
doubled_numbers

[30, 22, 20, 18, 16, 14, 12, 8, 4, 2]

#### 25. Filter out all even numbers from a list.

In [75]:
odd_numbers = [num for num in numbers if num % 2 != 0]
odd_numbers

[15, 11, 9, 7, 1]

#### 26. Convert a list of strings to a list of integers.

In [76]:
string_list = ["1", "2", "3", "4", "5"]
int_list = [int(item) for item in string_list]
int_list

[1, 2, 3, 4, 5]

#### 27. Convert a list of integers to a list of strings.

In [77]:
int_list = [1, 2, 3, 4, 5]
string_list = [str(item) for item in int_list]
string_list

['1', '2', '3', '4', '5']

#### 28. Flatten a nested list.

In [78]:
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flat_list = [item for sublist in nested_list for item in sublist]
flat_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

#### 29. Create a list of the first 10 Fibonacci numbers.

In [79]:
def fibonacci(n):
    fib = [0, 1]
    for _ in range(2, n):
        fib.append(fib[-1] + fib[-2])
    return fib

fibonacci_list = fibonacci(10)
fibonacci_list

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

#### 30. Check if a list is sorted.

In [80]:
is_sorted = all(numbers[i] <= numbers[i + 1] for i in range(len(numbers) - 1))
is_sorted

False

#### 31. Rotate a list to the left by `n` positions.

In [81]:
n = 3
rotated_list = numbers[n:] + numbers[:n]
rotated_list

[9, 8, 7, 6, 4, 2, 1, 15, 11, 10]

#### 32. Rotate a list to the right by `n` positions.

In [82]:
n = 3
rotated_list = numbers[-n:] + numbers[:-n]
rotated_list

[4, 2, 1, 15, 11, 10, 9, 8, 7, 6]

#### 33. Create a list of prime numbers up to 50.

In [83]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_list = [num for num in range(2, 51) if is_prime(num)]
prime_list

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

#### 34. Split a list into chunks of size `n`.

In [84]:
n = 3
chunked_list = [numbers[i:i + n] for i in range(0, len(numbers), n)]
chunked_list

[[15, 11, 10], [9, 8, 7], [6, 4, 2], [1]]

#### 35. Find the second largest number in a list.

In [85]:
sorted_numbers = sorted(numbers)
second_largest = sorted_numbers[-2]
second_largest

11

#### 36. Replace every element in a list with its square.

In [86]:
squared_list = [num ** 2 for num in numbers]
squared_list

[225, 121, 100, 81, 64, 49, 36, 16, 4, 1]

#### 37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [87]:
dict_from_list = {value: index for index, value in enumerate(numbers)}
dict_from_list

{15: 0, 11: 1, 10: 2, 9: 3, 8: 4, 7: 5, 6: 6, 4: 7, 2: 8, 1: 9}

#### 38. Shuffle the elements of a list randomly.

In [88]:
import random
shuffled_list = numbers.copy()
random.shuffle(shuffled_list)
numbers

[15, 11, 10, 9, 8, 7, 6, 4, 2, 1]

#### 39. Create a list of the first 10 factorial numbers.

In [89]:
def factorial(n):
    if n == 0:
        return 1
    return n * factorial(n - 1)

factorial_list = [factorial(i) for i in range(1, 11)]
factorial_list

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

#### 40. Check if two lists have at least one element in common.

In [90]:
has_common = any(item in list1 for item in list2)
has_common

True

#### 41. Remove all elements from a list.

In [91]:
numbers.clear()
numbers

[]

#### 42. Replace negative numbers in a list with 0.

In [92]:
non_negative_list = [num if num >= 0 else 0 for num in numbers]
non_negative_list

[]

#### 43. Convert a string into a list of words.

In [93]:
text = "This is a sample sentence."
word_list = text.split()
word_list

['This', 'is', 'a', 'sample', 'sentence.']

#### 44. Convert a list of words into a string.

In [94]:
word_list = ["This", "is", "a", "sample", "sentence."]
text = " ".join(word_list)
text

'This is a sample sentence.'

#### 45. Create a list of the first `n` powers of 2.

In [95]:
n = 5
powers_of_2 = [2 ** i for i in range(n)]
powers_of_2

[1, 2, 4, 8, 16]

#### 46. Find the longest string in a list of strings.

In [96]:
strings = ["apple", "banana", "cherry", "date"]
longest_string = max(strings, key=len)
longest_string

'banana'

#### 47. Find the shortest string in a list of strings

In [97]:
shortest_string = min(strings, key=len)
shortest_string

'date'

#### 48. Create a list of the first `n` triangular numbers.

In [98]:
def triangular_number(n):
    return n * (n + 1) // 2

triangular_numbers = [triangular_number(i) for i in range(1, n + 1)]
triangular_numbers

[1, 3, 6, 10, 15]

#### 49. Check if a list contains another list as a subsequence.

In [99]:
def is_subsequence(sub, main):
    i, j = 0, 0
    while i < len(sub) and j < len(main):
        if sub[i] == main[j]:
            i += 1
        j += 1
    return i == len(sub)

main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sub_list = [3, 5, 7]

is_subseq = is_subsequence(sub_list, main_list)
print(is_subseq)

True

#### 50. Swap two elements in a list by their indices.

In [100]:
def swap_elements(lst, index1, index2):
    lst[index1], lst[index2] = lst[index2], lst[index1]

numbers = [1, 2, 3, 4, 5]
index1, index2 = 1, 3

swap_elements(numbers, index1, index2)
print(numbers)

[1, 4, 3, 2, 5]

# Tuple Based Practice Problem :

#### 1. Create a tuple with integers from 1 to 5.

In [101]:
tuple_1 = (1, 2, 3, 4, 5)
tuple_1

(1, 2, 3, 4, 5)

#### 2. Access the third element of a tuple

In [102]:
print(tuple_1[2])

3

#### 3. Find the length of a tuple without using the `len()` function.

In [103]:
number_of_elements = 0
for i in tuple_1:
  number_of_elements += 1

print(number_of_elements)

5

#### 4. Count the occurrences of an element in a tuple.

In [104]:
number_of_occurrences = tuple_1.count(3)

print(number_of_occurrences)

1

#### 5. Find the index of the first occurrence of an element in a tuple.

In [105]:
index = tuple_1.index(2)

print(index)

1

#### 6. Check if an element exists in a tuple.

In [106]:
is_element_present = 5 in tuple_1

print(is_element_present)

True

#### 7. Convert a tuple to a list.

In [107]:
list_1 = list(tuple_1)

print(list_1)

[1, 2, 3, 4, 5]

#### 8. Convert a list to a tuple.

In [108]:
list_1 = [1, 2, 3, 4, 5]

tuple_2 =  tuple(i for i in list_1)

print(tuple_2)

(1, 2, 3, 4, 5)

#### 9. Unpack the elements of a tuple into variables.

In [109]:
a, b, c, d, e = tuple_1

print(a, b, c, d, e)

1 2 3 4 5

#### 10. Create a tuple of even numbers from 1 to 10.

In [110]:
even_numbers = tuple(range(2, 11, 2))

print(even_numbers)

(2, 4, 6, 8, 10)

#### 11. Create a tuple of odd numbers from 1 to 10.

In [111]:
even_numbers = tuple(range(1, 11, 2))

print(even_numbers)

(1, 3, 5, 7, 9)

#### 12. Concatenate two tuples.

In [112]:
tuple_1 = (1,2,3,4,5,6)
tuple_2 = (7,8,9)
tuple_3 = tuple_1+tuple_2
tuple_3

(1, 2, 3, 4, 5, 6, 7, 8, 9)

#### 13. Repeat a tuple three times.

In [113]:
tuple_1 = (1, 2, 3)

tuple_3 = tuple_1 * 3

print(tuple_3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

#### 14. Check if a tuple is empty.

In [114]:
tuple_1 = ()

if not tuple_1:
  print("The tuple is empty.")

The tuple is empty.

#### 15. Create a nested tuple.

In [115]:
tuple_1 = (1, 2, 3)
tuple_2 = ("a", "b", "c")

tuple_3 = (tuple_1, tuple_2)

print(tuple_3)

((1, 2, 3), ('a', 'b', 'c'))

#### 16. Access the first element of a nested tuple.

In [116]:
tuple_1 = (1, 2, 3)
tuple_2 = ("a", "b", "c")

tuple_3 = (tuple_1, tuple_2)

first_element = tuple_3[0][0]

print(first_element)

1

#### 16. Access the first element of a nested tuple.

In [117]:
tuple_1 = (1,)

print(tuple_1)

(1,)

#### 18. Compare two tuples.

In [118]:
tuple_1 = (1, 2, 3)
tuple_2 = (1, 2, 4)

if tuple_1 == tuple_2:
  print("The tuples are equal.")
else:
  print("The tuples are not equal.")

The tuples are not equal.

#### 19. Delete a tuple.

In [119]:
tuple_1 = (1, 2, 3)

del tuple_1
print(tuple_1)

NameError: name 'tuple_1' is not defined

#### 20. Slice a tuple

In [120]:
tuple_1 = (1, 2, 3, 4, 5)

sliced_tuple = tuple_1[1:3]

print(sliced_tuple)

(2, 3)

#### 21. Find the maximum value in a tuple.

In [121]:
my_tuple = (5, 8, 2, 10, 3)
max_value = max(my_tuple)
print(max_value)

10

#### 22. Find the minimum value in a tuple.

In [122]:
my_tuple = (5, 8, 2, 10, 3)
min_value = min(my_tuple)
print(min_value)

2

#### 23. Convert a string to a tuple of characters.

In [123]:
my_string = "hello"
char_tuple = tuple(my_string)
print(char_tuple)

('h', 'e', 'l', 'l', 'o')

#### 24. Convert a tuple of characters to a string.

In [124]:
char_tuple = ('h', 'e', 'l', 'l', 'o')
my_string = ''.join(char_tuple)
print(my_string)

hello

#### 25. Create a tuple from multiple data types.

In [125]:
mixed_tuple = (1, 'apple', 3.14, True)
print(mixed_tuple)

(1, 'apple', 3.14, True)

#### 26. Check if two tuples are identical.

In [126]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
are_identical = tuple1 == tuple2
print(are_identical)

True

#### 27. Sort the elements of a tuple.

In [127]:
my_tuple = (5, 2, 8, 1, 3)
sorted_tuple = tuple(sorted(my_tuple))
print(sorted_tuple)

(1, 2, 3, 5, 8)

#### 28. Convert a tuple of integers to a tuple of strings.

In [128]:
int_tuple = (1, 2, 3)
str_tuple = tuple(map(str, int_tuple))
print(str_tuple)

('1', '2', '3')

#### 29. Convert a tuple of strings to a tuple of integers.

In [129]:
str_tuple = ('1', '2', '3')
int_tuple = tuple(map(int, str_tuple))
print(int_tuple)

(1, 2, 3)

#### 30. Merge two tuples.

In [130]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
merged_tuple = tuple1 + tuple2
print(merged_tuple)

(1, 2, 3, 4, 5, 6)

#### 31. Flatten a nested tuple.

In [131]:
nested_tuple = ((1, 2), (3, 4), (5, 6))
flattened_tuple = tuple(item for sublist in nested_tuple for item in sublist)
print(flattened_tuple)

(1, 2, 3, 4, 5, 6)

#### 32. Create a tuple of the first 5 prime numbers.

In [132]:
prime_numbers = (2, 3, 5, 7, 11)
print(prime_numbers)

(2, 3, 5, 7, 11)

#### 33. Check if a tuple is a palindrome.

In [133]:
my_tuple = (1, 2, 3, 2, 1)
is_palindrome = my_tuple == my_tuple[::-1]
print(is_palindrome)

True

#### 34. Create a tuple of squares of numbers from 1 to 5.

In [134]:
squares_tuple = tuple(x**2 for x in range(1, 6))
print(squares_tuple)

(1, 4, 9, 16, 25)

#### 35. Filter out all even numbers from a tuple.

In [135]:
my_tuple = (1, 2, 3, 4, 5, 6)
filtered_tuple = tuple(x for x in my_tuple if x % 2 != 0)
print(filtered_tuple)

(1, 3, 5)

#### 36. Multiply all elements in a tuple by 2.

In [136]:
my_tuple = (1, 2, 3, 4, 5)
doubled_tuple = tuple(x * 2 for x in my_tuple)
print(doubled_tuple)

(2, 4, 6, 8, 10)

#### 37. Create a tuple of random numbers.

In [137]:
import random

random_tuple = tuple(random.randint(1, 100) for _ in range(5))
print(random_tuple)

(76, 77, 84, 3, 51)

#### 38. Check if a tuple is sorted.

In [138]:
my_tuple = (1, 2, 3, 4, 5)
is_sorted = my_tuple == tuple(sorted(my_tuple))
print(is_sorted)

True

#### 39. Rotate a tuple to the left by `n` positions.

In [139]:
my_tuple = (1, 2, 3, 4, 5)
n = 2
rotated_tuple = my_tuple[n:] + my_tuple[:n]
print(rotated_tuple)

(3, 4, 5, 1, 2)

#### 40. Rotate a tuple to the right by `n` positions.

In [140]:
my_tuple = (1, 2, 3, 4, 5)
n = 2
rotated_tuple = my_tuple[-n:] + my_tuple[:-n]
print(rotated_tuple)

(4, 5, 1, 2, 3)

#### 41. Create a tuple of the first 5 Fibonacci numbers.

In [141]:
def generate_fibonacci(n):
    fibonacci = [0, 1]
    while len(fibonacci) < n:
        next_fib = fibonacci[-1] + fibonacci[-2]
        fibonacci.append(next_fib)
    return tuple(fibonacci)

fibonacci_tuple = generate_fibonacci(5)
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

#### 42. Create a tuple from user input.

In [142]:
user_input = input("Enter elements separated by spaces: ")
user_tuple = tuple(user_input.split())
print(user_tuple)

Enter elements separated by spaces:  hello world

('hello', 'world')

#### 43. Swap two elements in a tuple.

In [143]:
my_tuple = (1, 2, 3, 4, 5)
index1, index2 = 1, 3
tuple_list = list(my_tuple)
tuple_list[index1], tuple_list[index2] = tuple_list[index2], tuple_list[index1]
swapped_tuple = tuple(tuple_list)
print(swapped_tuple)

(1, 4, 3, 2, 5)

#### 44. Reverse the elements of a tuple.

In [144]:
my_tuple = (1, 2, 3, 4, 5)
reversed_tuple = my_tuple[::-1]
print(reversed_tuple)

(5, 4, 3, 2, 1)

#### 45. Create a tuple of the first `n` powers of 2.

In [145]:
n = 5
powers_of_2 = tuple(2 ** i for i in range(n))
print(powers_of_2)

(1, 2, 4, 8, 16)

#### 46. Find the longest string in a tuple of strings.

In [146]:
str_tuple = ("apple", "banana", "cherry", "date", "fig")
longest_string = max(str_tuple, key=len)
print(longest_string)

banana

#### 47. Find the shortest string in a tuple of strings.

In [147]:
str_tuple = ("apple", "banana", "cherry", "date", "fig")
shortest_string = min(str_tuple, key=len)
print(shortest_string)

fig

#### 48. Create a tuple of the first `n` triangular numbers.

In [148]:
def generate_triangular_numbers(n):
    triangular_numbers = [n * (n + 1) // 2 for n in range(1, n + 1)]
    return tuple(triangular_numbers)

triangular_tuple = generate_triangular_numbers(5)
print(triangular_tuple)

(1, 3, 6, 10, 15)

#### 49. Check if a tuple contains another tuple as a subsequence.

In [149]:
main_tuple = (1, 2, 3, (4, 5), 6, 7)
sub_tuple = (4, 5)
contains_subsequence = sub_tuple in main_tuple
print(contains_subsequence)

True

#### 50. Create a tuple of alternating 1s and 0s of length `n`.

In [150]:
n = 6
alternating_tuple = tuple(1 if i % 2 == 0 else 0 for i in range(n))
print(alternating_tuple)

(1, 0, 1, 0, 1, 0)

# Set Based Practice Problem:

#### 1. Create a set with integers from 1 to 5.

In [151]:
my_set = {1, 2, 3, 4, 5}
my_set

{1, 2, 3, 4, 5}

#### 2. Add an element to a set.

In [152]:
my_set.add(6)
my_set

{1, 2, 3, 4, 5, 6}

#### 3. Remove an element from a set.

In [153]:
my_set.remove(3)
my_set

{1, 2, 4, 5, 6}

#### 4. Check if an element exists in a set.

In [154]:
element_exists = 4 in my_set
my_set

{1, 2, 4, 5, 6}

#### 5. Find the length of a set without using the `len()` function.

In [155]:
my_set = {1, 2, 3, 4, 5}
set_length = sum(1 for _ in my_set)
my_set

{1, 2, 3, 4, 5}

#### 6. Clear all elements from a set.

In [156]:
my_set.clear()
my_set

set()

#### 7. Create a set of even numbers from 1 to 10.

In [157]:
even_set = set(range(2, 11, 2))
even_set

{2, 4, 6, 8, 10}

#### 8. Create a set of odd numbers from 1 to 10.

In [158]:
odd_set = set(range(1, 11, 2))
odd_set

{1, 3, 5, 7, 9}

#### 9. Find the union of two sets.

In [159]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
union_set

{1, 2, 3, 4, 5}

#### 10. Find the intersection of two sets.

In [160]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
intersection_set = set1.intersection(set2)
intersection_set

{3}

#### 11. Find the difference between two sets.

In [161]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
difference_set = set1 - set2
difference_set

{1, 2}

#### 12. Check if a set is a subset of another set.

In [162]:
set1 = {1, 2, 3}
set2 = {2, 3}
is_subset = set1.issubset(set2)
is_subset

False

#### 13. Check if a set is a superset of another set.

In [163]:
set1 = {1, 2, 3}
set2 = {2, 3}
is_superset = set1.issuperset(set2)
is_superset

True

#### 14. Create a set from a list.

In [164]:
my_list = [1, 2, 3, 4, 5]
set_from_list = set(my_list)
my_list

[1, 2, 3, 4, 5]

#### 15. Convert a set to a list.

In [165]:
my_set = {1, 2, 3, 4, 5}
my_list = list(my_set)
my_set

{1, 2, 3, 4, 5}

#### 16. Remove a random element from a set.

In [166]:
import random

my_set = {1, 2, 3, 4, 5}
random_element = random.choice(list(my_set))
my_set.remove(random_element)
my_set

{2, 3, 4, 5}

#### 17. Pop an element from a set.

In [167]:
my_set = {1, 2, 3, 4, 5}
popped_element = my_set.pop()
popped_element

1

#### 18. Check if two sets have no elements in common.

In [168]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
have_no_common_elements = not bool(set1 & set2)
have_no_common_elements

True

#### 19. Find the symmetric difference between two sets.

In [169]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
symmetric_difference = set1.symmetric_difference(set2)
symmetric_difference

{1, 2, 4, 5}

#### 20. Update a set with elements from another set.

In [170]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.update(set2)
set1

{1, 2, 3, 4, 5}

#### 21. Create a set of the first 5 prime numbers.

In [171]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_numbers = set()
num = 2
while len(prime_numbers) < 5:
    if is_prime(num):
        prime_numbers.add(num)
    num += 1

print(prime_numbers)

{2, 3, 5, 7, 11}

#### 22. Check if two sets are identical.

In [172]:
set1 = {1, 2, 3}
set2 = {3, 2, 1}
are_identical = set1 == set2
are_identical

True

#### 23. Create a frozen set.

In [173]:
frozen_set = frozenset([1, 2, 3, 4, 5])
frozen_set

frozenset({1, 2, 3, 4, 5})

#### 24. Check if a set is disjoint with another set.

In [174]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
are_disjoint = set1.isdisjoint(set2)
are_disjoint

True

#### 25. Create a set of squares of numbers from 1 to 5.

In [175]:
squares_set = {x ** 2 for x in range(1, 6)}
squares_set

{1, 4, 9, 16, 25}

#### 26. Filter out all even numbers from a set.

In [176]:
my_set = {1, 2, 3, 4, 5}
filtered_set = {x for x in my_set if x % 2 != 0}
filtered_set

{1, 3, 5}

#### 27. Multiply all elements in a set by 2.

In [177]:
my_set = {1, 2, 3, 4, 5}
multiplied_set = {x * 2 for x in my_set}
multiplied_set

{2, 4, 6, 8, 10}

#### 28. Create a set of random numbers.

In [178]:
import random

random_set = {random.randint(1, 100) for _ in range(5)}
random_set

{30, 35, 48, 76, 94}

#### 29. Check if a set is empty.

In [179]:
my_set = set()
is_empty = not bool(my_set)
is_empty

True

#### 30. Create a nested set (hint: use frozenset).

In [180]:
nested_set = {frozenset({1, 2}), frozenset({3, 4})}
nested_set

{frozenset({3, 4}), frozenset({1, 2})}

#### 31. Remove an element from a set using the discard method.

In [181]:
my_set = {1, 2, 3, 4, 5}
my_set.discard(3)
my_set

{1, 2, 4, 5}

#### 32. Compare two sets.

In [182]:
set1 = {1, 2, 3}
set2 = {3, 2, 1}
are_equal = set1 == set2
are_equal

True

#### 33. Create a set from a string.

In [183]:
my_string = "hello"
string_set = set(my_string)
string_set

{'e', 'h', 'l', 'o'}

#### 34. Convert a set of strings to a set of integers.

In [184]:
string_set = {"1", "2", "3"}
int_set = set(map(int, string_set))
int_set

{1, 2, 3}

#### 35. Convert a set of integers to a set of strings.

In [185]:
int_set = {1, 2, 3}
string_set = set(map(str, int_set))
string_set

{'1', '2', '3'}

#### 36. Create a set from a tuple.

In [186]:
my_tuple = (1, 2, 3, 4, 5)
tuple_set = set(my_tuple)
tuple_set

{1, 2, 3, 4, 5}

#### 37. Convert a set to a tuple.

In [187]:
my_set = {1, 2, 3, 4, 5}
set_tuple = tuple(my_set)
set_tuple

(1, 2, 3, 4, 5)

#### 38. Find the maximum value in a set.

In [188]:
my_set = {5, 2, 8, 1, 3}
max_value = max(my_set)
max_value

8

#### 39. Find the minimum value in a set.

In [189]:
my_set = {5, 2, 8, 1, 3}
min_value = min(my_set)
min_value

1

#### 40. Create a set from user input

In [190]:
user_input = input("Enter elements separated by spaces: ")
user_set = set(user_input.split())
user_set

Enter elements separated by spaces:  hello world

{'hello', 'world'}

#### 41. Check if the intersection of two sets is empty.

In [191]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
intersection_empty = not bool(set1 & set2)
intersection_empty

True

#### 42. Create a set of the first 5 Fibonacci numbers.

In [192]:
def fibonacci(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fibonacci(n - 1) + fibonacci(n - 2)


def main():
    fibonacci_numbers = set()
    for i in range(5):
        fibonacci_numbers.add(fibonacci(i))

    print(fibonacci_numbers)


if __name__ == "__main__":
    main()

{0, 1, 2, 3}

#### 43. Remove duplicates from a list using sets.

In [193]:
my_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = list(set(my_list))
unique_list

[1, 2, 3, 4, 5]

#### 44. Check if two sets have the same elements, regardless of their count.

In [194]:
set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1, 1, 2, 3, 4, 5}
have_same_elements = set1 == set2
have_same_elements

True

#### 45. Create a set of the first `n` powers of 2.

In [195]:
n = 5
powers_of_2 = {2 ** i for i in range(n)}
powers_of_2

{1, 2, 4, 8, 16}

#### 46. Find the common elements between a set and a list.

In [196]:
my_set = {1, 2, 3, 4, 5}
my_list = [3, 4, 5, 6, 7]
common_elements = my_set.intersection(my_list)
common_elements

{3, 4, 5}

#### 47. Create a set of the first `n` triangular numbers.

In [197]:
def generate_triangular_numbers(n):
    triangular_numbers = {n * (n + 1) // 2 for n in range(1, n + 1)}
    return triangular_numbers

triangular_set = generate_triangular_numbers(5)
triangular_set

{1, 3, 6, 10, 15}

#### 48. Check if a set contains another set as a subset.

In [198]:
set1 = {1, 2, 3, 4, 5}
set2 = {2, 3}
is_subset = set2.issubset(set1)
is_subset

True

#### 49. Create a set of alternating 1s and 0s of length `n`.

In [199]:
n = 6
alternating_set = {1 if i % 2 == 0 else 0 for i in range(n)}
alternating_set

{0, 1}

#### 50. Merge multiple sets into one.

In [200]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}
merged_set = set1.union(set2, set3)
merged_set

{1, 2, 3, 4, 5, 6, 7}